{% extends 'base.html.twig' %}
{% block body %}
<form action="" method="post">
    Title: <input type="text" name="title">
    Content: <input type="text" name="content">
    Author: <input type="text" name="author">
    <button type="submit">Add Post</button>
</form>


{% endblock %}